module.exports = {
  parser: "babel-eslint",
  globals: {
    console: true,
    _: true,
    $: true
  },
  env: {
    es6: true,
    browser: true,
    node: true,
    jquery: true
  },
  extends: [
    "eslint:recommended"
  ],
  plugins: ["react"],
  parserOptions: {
    ecmaFeatures: {
      jsx: true
    }
  },
  rules: {
    "no-console": 0,
    "react/jsx-uses-vars": 2,
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  }
};
