{
  "parser": "babel-eslint",
  "globals": {
      "console": true,
      "_": true,
      "$": true
  },
  "env": {
      "es6": true,
      "browser": true,
      "node": true,
      "jquery": true
  },
  "extends":[
    "prettier"
  ],
  "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
  },
  "plugins": [
      "react",
      "prettier",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
